<footer class="bg-gray-900 mt-12 text-white py-8">
    <div class="container mx-auto text-center">
      <div class="flex justify-center space-x-6 mb-4">
        <a href="https://github.com/youssefabdullah08" target="_blank" class="text-xl hover:text-gray-400">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/youssef-abdullah-a951b2215/" target="_blank" class="text-xl hover:text-gray-400">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:Youssefabdullah.583002@gmail.com" class="text-xl hover:text-gray-400">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
      <p>&copy; 2024 Youssef Abdullah. All Rights Reserved.</p>
    </div>
  </footer>